footer {
  background: #4A0575;
}

footer, .SocialNetworks, .FirstChapters ul {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    border-top: white 2px dashed;
    padding: 20px 0px;
    color: white;
  }

  .FirstChapters ul, .SocialNetworks {
    flex-direction: column;
    max-width: 300px;
  }
  
  .GoogleMaps {
    margin-bottom: 20px;
    max-width: 300px;
  }
  
  .Link {
    border: #aefc5c solid 3px;
    border-radius: 25px;
    min-width: 250px;
    padding: 5px 10px;
    margin: 20px 0px;
    color: #aefc5c;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }


@media only screen and (max-width: 1024px) {
    footer, .SocialNetworks  {
      flex-direction: column;
      align-items: center;
    }
    .FirstChapters ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .FirstChapters ul li {
      width: 100%;
      padding: 10px 0px;
    }
  }